body {
	color: #82a5ca;
	/*background-image: url("images/universe.jpg");*/
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	margin: 0;
	/*text-shadow: 3px 3px 3px black;*/
}

#hero {
	background-image: url("https://media0.giphy.com/media/SVCSsoKU5v6ZJLk07n/giphy.gif?cid=ecf05e47y3km3xdq7ma7pdc49biitgw7lbwzi0qioed9r4ej&rid=giphy.gif&ct=g");
	background-size: cover;
	padding: 10px 0 40px 0;
}

.btn {
	padding: 6px 12px;
	background: white;
	border: none;
	font-family: inherit;
	color: #82a5ca;
	font-weight: bold;
}

.underline {
	border-bottom: 4px solid white;
}

#title {
	text-shadow: 0px 0px 4px black;
}